In [4]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [5]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [6]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [15]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [16]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [27]:
np.random.seed(0)

In [31]:
np.random.rand(4)

array([ 0.56804456,  0.92559664,  0.07103606,  0.0871293 ])

In [32]:
'A B C D E'.split()

['A', 'B', 'C', 'D', 'E']

In [37]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,3,5,6]
hier_index = list(zip(outside,inside))
print(hier_index)
hier_index = pd.MultiIndex.from_tuples(hier_index)
print(hier_index)

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 3), ('G2', 5), ('G2', 6)]
MultiIndex(levels=[['G1', 'G2'], [1, 2, 3, 5, 6]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 2, 3, 4]])

In [47]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,6,7],
                  'C':[1,2,3]})
df

     A  B  C
0  1.0  5  1
1  2.0  6  2
2  NaN  7  3

In [48]:
df.dropna(axis=1)

   B  C
0  5  1
1  6  2
2  7  3